@import "./normalize.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,400,900&display=swap");

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

a {
  text-decoration: none;
}

.navigation,
.product-list,
.slides,
.buttons-icons {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation,
p.footer-discr,
.button-basket {
  font-family: "Open Sans", sans-serif;
  line-height: 26px;
}

h1,
h2,
h3.product-name,
.price,
.slide-name,
.slide-details {
  font-family: "Roboto", sans-serif;
  line-height: 32px;
  text-transform: uppercase;
  margin: 0px;
}

.wrapper {
  width: 1110px;
  margin: 0 auto;
  padding: 0 35px;
}

/* Navigation */

.nav {
  padding-top: 30px;
  margin-bottom: 30px;
}

.site-logo > a,
.navigation li,
.navigation a {
  color: #000000;
  text-transform: uppercase;
}

.site-logo {
  float: left;
  font-weight: 300;
  font-size: 30px;
}

.site-logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
  font-size: 30px;
}

.navigation {
  float: right;
  margin-top: 10px;
}

.navigation li {
  float: left;
  font-weight: 700;
  font-size: 14px;
  list-style: none;
  line-height: 11px;
  margin-right: 30px;
}

.navigation li:last-child {
  margin-right: 0;
}

.navigation a:hover,
a:focus {
  color: #1abc9c;
}

main {
  background-color: #e9f0fd;
}

/* Slider */
.slider {
  position: relative;
  height: 600px;
  margin-bottom: 100px;
}

.slider-title {
  display: none;
}

.slider-menu {
  position: absolute;
  width: 1100px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.slider-ctrl {
  border: none;
  display: inline-block;
  width: 104px;
  height: 104px;
  background-color: rgba(77, 197, 171, 0.65);
  background-position: center;
  background-repeat: no-repeat;
}

.slider-ctrl:hover,
.slider-ctrl:focus {
  background-color: #1abc9c;
}

.slider-ctrl-prev {
  float: left;
  background-image: url(../img/button-prv.png);
}

.slider-ctrl-next {
  float: right;
  background-image: url(../img/button-next.png);
}

.slide-item {
  color: white;
}

.slide-item::before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  background-color: rgba(0, 0, 2, 0.52);
  z-index: 1;
}

.slide-image {
  width: 100%;
  object-fit: cover;
}

.slide-discr {
  position: absolute;
  width: 780px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.slide-name {
  font-weight: 900;
  font-size: 60px;
  line-height: 82px;
}

.slide-details {
  font-weight: 300;
  font-size: 24px;
  line-height: 82px;
}

/* Product */

h2 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 92px;
}

h2::after {
  display: block;
  width: 165px;
  height: 7px;
  background-color: #1abc9c;
  content: " ";
  margin: 36px auto 0;
}

.product-list {
  padding-bottom: 100px;
  font-size: 0px;
}

.product-item {
  float: left;
  width: 255px;
  margin-right: 30px;
}

.product-item:nth-child(4n) {
  margin-right: 0;
}

.product-info {
  color: #ffffff;
  background-color: #323232;
  font-weight: 900;
}

h3.product-name {
  float: left;
  line-height: 32px;
  font-size: 18px;
  padding: 4px 0 4px 12px;
}

h3 > a {
  color: inherit;
}

p.price {
  float: right;
  margin: 0px;
  background-color: rgba(100%, 100%, 100%, 0.44);
  line-height: 32px;
  font-size: 18px;
  width: 55px;
  padding: 4px 0px;
  text-align: center;
}

/* Overlay */

.product-image {
  position: relative;
}

.product-img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;
}

.buttons-icons {
  position: absolute;
  box-sizing: border-box;
  width: 168px;
  height: 110px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.buttons-icons li {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
}

.buttons-icons li:nth-child(3),
.buttons-icons li:nth-child(4) {
  margin-right: 0;
}
.buttons-icons li:nth-child(4) {
  margin-bottom: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.button-icon {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
}

.button-like {
  background-image: url(../img/button-like.png);
}

.button-share {
  background-image: url(../img/button-share.png);
}

.button-clock {
  background-image: url(../img/button-clock.png);
}

.button-basket {
  position: relative;
  display: inline-block;
  padding-left: 50px;
  padding-top: 8px;
  width: 166px;
  height: 50px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
}

.button-basket::before {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  content: " ";
  width: 48px;
  height: 48px;
  background-image: url(../img/button-basket.png);
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 6;
}

/* hover item */

.product-item:hover .product-info {
  background-color: #1abc9c;
}
.product-item:hover .overlay {
  background-color: rgba(0, 0, 0, 0.55);
}

.product-item:hover .buttons-icons {
  opacity: 1;
}

.button-icon:hover {
  background-color: #1abc9c;
}

.button-basket:hover {
  background-color: #323232;
}

/* Footer */
footer {
  background-color: #323232;
  height: 90px;
  text-align: center;
}

.footer-discr {
  margin: 0;
  padding-top: 30px;
  color: #fff;
  font-weight: 400;
  line-height: 28px;
  font-size: 16px;
}

.designed {
  color: #46bfa9;
}
