/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400&display=swap');

$main-font-stack: 'Montserrat', 'Arial', sans-serif;
$secondary-font-stack: "Roboto";
$altern-font-stack: "Kaushan Script";

/* Colors */
$main-color: #333333;
$second-color: #95e1d3;
$disr-color: #999999;
$altern-color: #f38181;
$banner-font-color:#ffffff;
$banner-hover-color: #fce38a;