@import "./normalize.css";
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400&display=swap");

a {
  text-decoration: none;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* Fonts */

.logo > a,
.menu-item > a,
h2.section-name,
h3,
h3 > a,
.footer-disr,
.submit {
  font-family: "Montserrat";
}

.logo > a,
.menu-item > a {
  color: #95e1d3;
}

h2.section-name,
.section-prename,
h3 > a,
.footer-disr,
#your-email {
  color: #333333;
}

.logo > a {
  font-size: 30px;
  font-weight: 700;
}

.menu-item > a {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.section-prename {
  display: block;
  font-size: 24px;
  font-family: "Kaushan Script";
  font-weight: 400;
  text-align: center;
  text-transform: none;
  margin-bottom: 30px;
}

h2.section-name {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

h3,
.footer-disr {
  font-size: 14px;
  font-weight: 400;
}

h3 {
  text-transform: uppercase;
}

p,
.team-item-disr {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto";
  font-weight: 400;
}

.designed {
  color: #f38181;
}

.team-item-disr {
  font-weight: 300;
  font-style: italic;
}

/* Header */

.page-nav {
  display: flex;
  min-height: 100px;
  margin-bottom: 70px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 0;
}

.menu {
  display: flex;
  width: 490px;
  justify-content: space-between;
  align-items: center;
}

.menu-item {
  position: relative;
}

.menu-item > a {
  transition: color 200ms linear;
}

.menu-item > a::after {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background-color: #f38181;
  content: " ";
  margin: 10px auto 0;
  opacity: 0;
  transition: opacity 200ms linear;
}

.menu-item > a:hover,
.menu-item > a:focus {
  color: #f38181;
}

.menu-item > a:hover::after,
.menu-item > a:focus::after {
  opacity: 1;
}

/* Section Services */

h2.section-name {
  margin-bottom: 70px;
}

h2::after {
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  content: " ";
  margin: 40px auto 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 90px;
}

.services-item-name {
  margin: 0;
}

.services-item {
  flex: 0 0 300px;
  margin-bottom: 100px;
  padding-left: 80px;
  position: relative;
}

.services-item:not(:nth-child(-n + 3)) {
  margin-bottom: 0;
}

.services-item::before {
  display: inline-block;
  content: " ";
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 20px;
}

.icon-alarm::before {
  background-image: url(../img/icons/alarm.png);
}

.icon-graf::before {
  background-image: url(../img/icons/line-graph.png);
}

.icon-computer::before {
  background-image: url(../img/icons/computer-ok.png);
}

.icon-book::before {
  background-image: url(../img/icons/book.png);
}
.icon-home::before {
  background-image: url(../img/icons/home.png);
}
.icon-image::before {
  background-image: url(../img/icons/image-icon.png);
}

/* Section Our-team  */

.our-team-disr {
  text-align: center;
  margin-bottom: 90px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
}

.team-item-name,
.team-item-disr {
  text-align: center;
}

.member-foto {
  position: relative;
  font-size: 0;
  background-color: #95e1d3;
}

.member-img {
  position: relative;
  top: 0;
  left: 0;
  transition-property: left, top;
  transition-duration: 0.2s;
}
.team-item:hover .member-img {
  top: -10px;
  left: -10px;
}
.team-item:hover .overlay {
  visibility: visible;
  top: -10px;
  left: -10px;
  bottom: 10px;
  right: 10px;
}

.overlay {
  position: absolute;
  display: flex;
  visibility: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9),
    rgba(243, 129, 129, 0.9)
  );
  transition-property: visibility, left, top, right, bottom;
  transition-duration: 200ms;
}

.social-icon a {
  display: block;
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  background-repeat: no-repeat;
  background-position: center;
  transition-property: background-color;
  transition-duration: 0.2s;
}

.social-icon a:hover {
  background-color: #95e1d3;
}

.social-icon:not(:last-child) {
  margin-right: 2px;
}

.facebook a {
  background-image: url(../img/links/facebook.png);
}

.twetter a {
  background-image: url(../img/links/twitter.png);
}

.pinterest a {
  background-image: url(../img/links/pinterest.png);
}
.instagram a {
  background-image: url(../img/links/instagram.png);
}

/* Footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  border-top: 1px solid #e7e7e7;
}

#your-email {
  font-family: "Roboto";
  font-size: 15px;
  width: 230px;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  padding: 0 10px;
}

.subscribe {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: stretch;
}

input:-moz-placeholder {
  font-size: 15px;
  line-height: 24px;
  font-family: "Roboto";
  font-weight: 300;
  color: #cccccc;
  font-style: italic;
}

input::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 24px;
  font-family: "Roboto";
  font-weight: 300;
  color: #cccccc;
  font-style: italic;
}

.submit {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  border: none;
}
