/* Footer */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  border-top: 1px solid #e7e7e7;
}

.designed {
  color: var(--altern-color);
}

#your-email {
  font-family: "Roboto";
  font-size: 15px;
  width: 230px;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  padding: 0 10px;
}

.page-footer__subscribe-form {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: stretch;
}

input:-moz-placeholder,
input::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 24px;
  font-family: "Roboto";
  font-weight: 300;
  color: #cccccc;
  font-style: italic;
}

.page-footer__submit {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  background-color: var(--second-color);
  border: none;
}
